@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "variables.scss";
@import "home-content.scss";
@import "mainlayout/app.scss";
@import "mainlayout/header.scss";
@import "mainlayout/contacts.scss";
@import "posts.scss";
@import "post.scss";
@import "markdown-body.scss";

.tile {
    @apply bg-gray-800 px-8 py-4 rounded;
    box-shadow: $tile-shadow;
}

.text-link:link, .text-link:visited {
    color: white;
    text-decoration: underline;
    
    &:hover {
        @apply text-gray-300;
    }

}
