@import "variables.scss";

.post_summary {
    @apply block py-6 my-6 transition;

    &:hover{
        @apply bg-gray-700;
    }
}

.post_summary>div {
    @apply text-gray-200 text-sm;
}

.post_summary>div:first-child {
    @apply mb-4;
    @include post-title;
}

.searchbar-wrapper {
    @apply flex;
}


.subsection {
    @apply flex flex-row justify-center;


    .wrapper:not(.searchbar-wrapper) {
        @apply flex-1 ;
        display: none;
    }

    .searchbar-wrapper {
        @apply  pr-6;
        width: 60%;
        min-width: 200px;
    }
}
.subsection>div {
    @apply py-6;
}

.posts-wrapper {
    @apply py-6;
}