@import "variables";
$toc-width: 300px;
.post-section {
    @apply m-4 flex flex-auto flex-col lg:flex-row;
    position: relative;
}


.post {
    @apply lg:rounded;
    margin-bottom: -1px;
    border: 1px solid var(--color-border-primary);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 100%;
    .markdown-wrapper {
        @apply m-5;
    }
}

#toc {
    padding-left: 15%;
    padding-right: 15%;
    color: var(--color-text-primary);
    margin-bottom: -1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid var(--color-border-primary);
    border-bottom: none;
    
    a:hover {
        text-decoration: underline;
    }
    ol, ul{
        li {
            @apply pl-4;
        }
    }
    @apply pt-4 pb-4 text-xl lg:mr-4 lg:rounded lg:flex-none   lg:px-8;
}
#toc>ul>ul ul {
    @apply pl-8 text-base m-2;
}
@media (min-width: 1024px) { 
    #toc {
        border-bottom: 1px solid var(--color-border-primary);
        width: $toc-width;
        height: 90vh;
        overflow-y: auto;
        position: sticky;
        top: 0;
        bottom: 0;
    }
}

#toc > div:first-child {
    @apply mb-6;

    div {
        @apply text-sm my-1;
        color: var(--color-text-secondary);
    }

    div:first-child {
        @apply text-xl;
        @include post-title();
        color: var(--color-text-primary);
    }
}