@import "variables";

.post-section{
@apply m-4;
}
.post {
    margin-bottom: -1px;
    border-radius: 6px;
    border: 1px solid var(--color-border-primary);
    
    
    .markdown-wrapper {
        @apply m-5;
    }
}

.post>div:first-child {
    @apply p-5;
    border-bottom: 1px solid var(--color-border-primary);

    div {
        @apply text-sm my-1;
        color: var(--color-text-secondary);
    }

    div:first-child {
        @include post-title();
        color: var(--color-text-primary);
    }
}