// $bg-color: #121212;
// $bg-lvl1: #212121;
// $bg-lvl2: #303030;
// $bg-lvl3: #393939;

$primary-color: #06B6D4;
$secondary-color: #E879DA;
$tile-shadow: 0px 7px 23px -2px rgba(0,0,0,0.84);

@mixin post-title{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
}
